.modal {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 34, 18, 0.2);
    backdrop-filter: Blur(1px);
    z-index: 3;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 4;
    transform: translate(0, 50%);
    border-radius: 6px;
    min-width: 500px;
    min-height: 500px;
    background-color: #ffffff;
    padding: 0;
    border: 0;

    @media all and (max-width: 768px) {
      min-width: unset;
      width: 90%;
      max-width: 90vh;
      transform: translate(0, 30%);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 16px 0;
    border-radius: 6px 6px 0 0;
    background-color: #282c34;
    color: #ffff;
    width: 100%;
  }

  &__title {
    margin: 0;
  }

  &__close-button {
    cursor: pointer;
    border: 0;
    padding: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      stroke: #ffff;
    }

    &:hover {
      cursor: pointer;

      svg {
        stroke-width: 5px;
        stroke: #fe5a1d;
      }
    }
  }

  &__content {
    padding: 16px;
    width: 100%;
    height: 100%;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 16px;
    width: 100%;
    padding: 16px;

    @media all and (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
      margin-top: 0;
    }

    &__weather {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      width: 100%;

      img {
        max-height: 45px;
      }

      @media all and (max-width: 768px) {
        justify-content: center;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      flex-wrap: wrap;
      width: 100%;
    }

    &__buttons--accept {
      cursor: pointer;
      background-color: #282c34;
      border-radius: 6px;
      padding: 8px 16px;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      transition: all 0.2s ease-in-out;
      border: 0;

      &:hover {
        background-color: #5a5c5f;
      }
    }

    &__buttons--cancel {
      cursor: pointer;
      background-color: #dd634e;
      border-radius: 6px;
      padding: 8px 16px;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      transition: all 0.2s ease-in-out;
      border: 0;

      &:hover {
        background-color: #ad4a38;
      }
    }
  }
}
